@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #42454A;
    font-family: "Ubuntu", sans-serif;
    caret-color: transparent;
}

/* nav */

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAE8F3;
    padding: 1.2vmax 2.5vmax;
}

nav .logo{
    height: 40px;
    padding-right: 6.6vmax;
}

nav .menu{
    display: flex;
    gap: 5vmax;
    list-style: none;
}

nav a{
    font-size: 14px;
    font-weight: 500;
    }

nav button{
background-color: white;
padding: 1.1vmax 1.8vmax;
border: none;
border-radius: 5px;
}

nav .signup{
background-color: #42454A;
}

nav .signup a{
    color: white;
}

nav i{
    height: 4vmax;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    display: none;
}

@media (max-width:800px) {
    nav .logo{
        height: 4vmax;
    }

    nav i{
        display: block;
    }

    nav button{
        display: none;
    }

    nav .menu{
        display: none;
    }
}

/* home page  */
    .homepage{
    display: flex;
    justify-content: space-between;
    }
    
    .homepage .image{
        margin-top: 3vmax;
        background-image: url(assets/bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 32.5vw;
        width: 55vw;
    }

    .homepage .text{
        font-size: 5vw;
        margin-left: 2vmax;
        margin-top: 3vmax;
        width: 50vmax;
    }

    .text .heading{
        font-size: 1.3em;
        font-weight: 600;
    }

    .text .heading::first-line{
        font-weight: 400;
    }

    .text .border{
        border-bottom: 4px solid #42454A;
        width: 55%;
        margin: 4vw 0;
    }

    .text .line{
        font-size: .32em;
        width: 60%;
        margin-bottom: 4vw;
        font-weight: 400;
    }


    .text .buy{
        display: flex;
        align-items: center;
        font-size: .3em;
        font-weight: 600;
    }
        
    .text .buy img{
        width: 5vmax;
        margin-right: 1.5vmax;
    }

    @media (max-width:800px) {
        .homepage{
            flex-wrap: wrap;
            justify-content: center;
        }

        .homepage .image{
            background-size: 0 0;
            width: 98vw;
        }

        .homepage .text{
            width: 100vw;
            font-size: 10vw;
        }
    }



