@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #42454A;
    font-family: "Ubuntu", sans-serif;
    caret-color: transparent;
}

/* nav */

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAE8F3;
    padding: 0 2.5vmax;
    height: 5.6vw;
}

nav .logo{
    height: 45%;
    padding-right: 6.6vmax;
}

nav .menu{
    display: flex;
    gap: 5vmax;
    list-style: none;
}

nav a{
    font-size: 14px;
    font-weight: 500;
    }

nav button{
background-color: white;
padding: 1.1vw 1.8vw;
border: none;
border-radius: 5px;
}

nav .signup{
background-color: #42454A;
}

nav .signup a{
    color: white;
}

nav i{
    display: flex;
    align-items: center;
    /* font-size: 190%; */
    font-size: 5vw;
    font-weight: 600;
    display: none;
}

@media (max-width:800px) {
   nav{
    height: 12vw;
   }

    nav i{
        display: block;
    }

    nav button{
        display: none;
    }

    nav .menu{
        display: none;
    }
}

/* home page  */
    .homepage{
    display: flex;
    justify-content: space-between;
    }
    
    .homepage .image{
        margin-top: 3vmax;
        background-image: url(assets/bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 32.5vw;
        width: 55vw;
    }

    .homepage .text{
        font-size: 5vw;
        margin-left: 2vmax;
        margin-top: 3vmax;
        width: 50vmax;
    }

    .text .heading{
        font-size: 1.3em;
        font-weight: 600;
    }

    .text .heading::first-line{
        font-weight: 400;
    }

    .text .border{
        border-bottom: 4px solid #42454A;
        width: 55%;
        margin: 4vw 0;
    }

    .text .line{
        font-size: .32em;
        width: 60%;
        margin-bottom: 4vw;
        font-weight: 400;
    }

    .text .buy{
        display: flex;
        align-items: center;
        font-size: .3em;
        font-weight: 600;
    }
        
    .text .buy img{
        width: 5vmax;
        margin-right: 1.5vmax;
    }

    @media (max-width:800px) {
        .homepage{
            flex-wrap: wrap;
            justify-content: center;
        }

        .homepage .image{
            background-size: 0 0;
            width: 98vw;
        }

        .homepage .text{
            width: 100vw;
            font-size: 10vw;
        }
    }

    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap ;
        gap: 4vw;
    }
    
    .box{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
        border-radius: 5px;
        box-sizing: border-box;
        height: 8vmax;
        width: 12vmax;
        font-size: 2.5vmax;
        box-shadow: 0px 9px 13px 7px #80808024;
        transition: width 0.3s, height 0.3s, background-color 0.3s, color 0.3s;
    }

    .box:hover {
        height: 10vmax;
        width: 14vmax;
        background-color: black;
        color: white;   
    }
    
    .box h2{
        color: inherit;
        font-size: 1em;
        margin-top: 0;
        margin-bottom: .5vw;
    }
    
    .box span{
    font-size: .5em;
    color: inherit;
    }
    
    .box p{
        font-size: .35em;
        margin: 0;
        color: inherit;
    }

/* productinfo */

.productinfo{
    /* background-color: antiquewhite; */
    margin-top: 5vw;
}

.pages{
    font-size: 2vw;
}

.center{
    display: flex;
    justify-content: center;
}

.center .heading h1{
    display: flex;
    justify-content: center;
    /* font-size: 3vw; */
    margin-bottom: 1.2vmax;
}

.center .heading{
    font-size: .8em;
}


.productinfo .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.productinfo .left{
    height: 42vmax;
}

.productinfo .right{
    align-self: center;
}

.pages .list{
    list-style: none; 
}

.pages li{
    display: flex;
    align-items: center; /* Vertically center the content */
    padding-left: 40px; /* Adjust to provide space for the icon */
    position: relative;
    margin: 5vh 0;
    font-size: 1em;
}

.pages li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px; /* Width of your icon */
    height: 30px; /* Height of your icon */
    background-image: url(assets/tickicon.svg); /* Your custom icon */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/* page3 */

.pagegap{
    /* background-color: antiquewhite; */
    padding-top: 5vw;
}

.page3 .grid{
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
}

.page3 .box3{
    grid-row: 4/5; 
}

.page3 li{
    font-size: em;
    font-weight:450;
}

.aligncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page3 .image{
    width: 60vw;
}

.ofx{
    overflow-x: hidden;
}



@media (min-width:800px) {
    .page3 .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "text text img img img"
                             "img2 img2 img2 text2 text2";
        }
        
        .page3 .box1{
            grid-area: text;
        }
        
        .page3 .box2{
            grid-area: img;
            display: flex;
            justify-content: end;
        }
        
        .page3 .box3{
            grid-area: img2;
        }
        
        .page3 .box4{
            grid-area: text2;
        }        
}

@media (max-width:800px){
    .productinfo .left{
        height: 80vw;
    }   

    .pages{
        font-size: 3.2vw;
    }
}

/* team page */

.teampage{
    height: 100vh;
}

.cards .star i{
    color: #FE8B75;
}

.cards{
    height: 22.75vmax;
    aspect-ratio: 22.4 / 22.75;
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25vmax;
    padding: 3vw 0;
    box-sizing: border-box;
    transition: box-shadow .3s;
}

.cards:hover{
    box-shadow: 2px 11px 20px #80808059;
}

.founders .text{
    /* height: 9vw;
    width: 19vw; */
    /* border: 1px solid; */
    padding: 0 3vw;
    text-align: center;
    font-size: .95em;
    font-weight: 300;
}


.person .name{
    font-size: .75em;
    font-weight: 500;
}

.person .post{
    font-size: .8em;
}

.cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vw;
}

.cont2{
    height: inherit;
    display: flex;
}
.person{
    display: flex;
    align-items: center;
    gap: 1vw;
    align-self: flex-end;
}

.founders{
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 4vw 0;
    /* flex-wrap: wrap; */
}

.person .myimg{
height: 50px;
border-radius: 60px;
}

@media (max-width: 800px) {
    .founders{
        flex-direction: column;
        align-items: center;
    }
    
    .cards{
        height: 50vw;
        font-size: 3.2vw;
    }

}
